.contianer {
    width: 950px;
}

.page-con {
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: 950px;
    height: 40px;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.ninja {
    width: 550px;
    height: 225px;
    border: 3px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-right: 65px;
    margin-top: 30px;
}

.column-right {
    margin-left: 40px;
}

.column-2 {
    width: 300px;
    height: 200px;
    border: 3px solid black;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.def {
    background-color: #93c47d;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

.like {
    background-color: #ffd966;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

.login {
    background-color: #2b78e4;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    color: white;
}

.word-def {
    text-decoration: underline;
    color: blue;
}